<% provide :title, t(".about") %>
<title><%= yield :title %></title>
<p>
  <%= link_to t(".url_tut"), "http://www.railstutorial.org/" %><em><%= t ".content_tut" %></em>
  <%= link_to t(".url_book"), "http://www.railstutorial.org/book" %><%= t ".content_book" %>
  <br>
  <%= link_to t(".screencast"), "http://screencasts.railstutorial.org/" %><%= t ".content_screen" %>
  <%= t ".content_web" %>
  <br>
  <%= link_to t(".url_tut"), "http://rubyonrails.org/" %>
  <%= t ".app_tut" %>
</p>
