<h1><%= t "user_mailer.account_activation.html_title" %>
<%= @user.name %></h1>
<p>
  <%= @greeting %> <%= t "user_mailer.account_activation.html_header" %>
</p>
<%= link_to t("user_mailer.account_activation.activate"), edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
