<footer class="footer">
  <small>
    <%= link_to t(".rort"), "http://www.railstutorial.org/" %></a>
    <%= link_to t(".name"), "http://www.michaelhartl.com/" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), "#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".news"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
